extends layout

block content
  // Breadcrumbs
  ol.breadcrumb
    ol.breadcrumb
    li
      a(href='index.html') Home
    li
      a(href='/category/kitesurfing') Kitesurfing
  // Breadcrumbs Close
  // Catalog Grid
  section.catalog-grid
    .container
      .row
        // Tiles
        .col-lg-12.col-md-12.col-sm-12
          .row
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/6.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Packages
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/1.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Kites
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/2.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Kite Boards
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/2.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Surf Kite
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/2.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Kite Harnesses
            // Tile
            .col-lg-4.col-md-4.col-sm-12
              .tile
                a(href='shop-single-item-v2.html')
                  img(src='img/catalog/2.jpg', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') Accessories