extends layout

block content
  // Hero Slider
  section.hero-slider
    #hero-slider.master-slider
      // Slide 1
      .ms-slide(data-delay='7')
        .overlay
        img(src='themes/basic/masterslider/blank.gif', data-src='themes/basic/img/hero/slideshow/kitesurfing-perth.jpg', alt='')
        h2.dark-color.ms-layer(style='width: 456px; left: 110px; top: 110px;', data-effect='top(50,true)', data-duration='700', data-delay='250', data-ease='easeOutQuad') Look for all packs at our shop!
        p.dark-color.ms-layer(style='width: 456px; left: 110px; top: 210px;', data-effect='back(500)', data-duration='700', data-delay='500', data-ease='easeOutQuad')
          | In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products.
        .ms-layer.button(style='left: 110px; top: 300px;', data-effect='left(50,true)', data-duration='500', data-delay='750', data-ease='easeOutQuad')
          a.btn.btn-black(href='#') Go to catalog
        .ms-layer.button(style='left: 350px; top: 300px;', data-effect='bottom(50,true)', data-duration='700', data-delay='950', data-ease='easeOutQuad')
          a.btn.btn-primary(href='#') Get some lessons
      // Slide 2
      .ms-slide(data-delay='7')
        span.overlay
        img(src='themes/basic/masterslider/blank.gif', data-src='themes/basic/img/hero/slideshow/kitesurfing-perth-freestyle.png', alt='Necessaire')
        h2.dark-color.ms-layer(style='width: 456px; left: 110px; top: 110px;', data-effect='bottom(50,true)', data-duration='700', data-delay='250', data-ease='easeOutQuad') Necessaire
        p.dark-color.ms-layer(style='width: 456px; left: 110px; top: 210px;', data-effect='bottom(50,true)', data-duration='700', data-delay='500', data-ease='easeOutQuad')
          | In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products.
        .ms-layer.button(style='left: 110px; top: 330px;', data-effect='left(50,true)', data-duration='500', data-delay='750', data-ease='easeOutQuad')
          a.btn.btn-black(href='#') Go to catalog
        .ms-layer.button(style='left: 350px; top: 330px;', data-effect='bottom(50,true)', data-duration='700', data-delay='950', data-ease='easeOutQuad')
          a.btn.btn-primary(href='#') Browse all
      // Slide 3
        .ms-slide(data-delay='7')
          span.overlay
          img(src='themes/basic/masterslider/blank.gif', data-src='themes/basic/img/hero/slideshow/Stand-up-paddle-board-hire-Perth.jpg', alt='Necessaire')
          h2.dark-color.ms-layer(style='width: 456px; left: 110px; top: 110px;', data-effect='bottom(50,true)', data-duration='700', data-delay='250', data-ease='easeOutQuad') Necessaire
          p.dark-color.ms-layer(style='width: 456px; left: 110px; top: 210px;', data-effect='bottom(50,true)', data-duration='700', data-delay='500', data-ease='easeOutQuad')
            | In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products.
          .ms-layer.button(style='left: 110px; top: 330px;', data-effect='left(50,true)', data-duration='500', data-delay='750', data-ease='easeOutQuad')
            a.btn.btn-black(href='#') Go to catalog
          .ms-layer.button(style='left: 350px; top: 330px;', data-effect='bottom(50,true)', data-duration='700', data-delay='950', data-ease='easeOutQuad')
            a.btn.btn-primary(href='#') Browse all
      // Slide 4
      .ms-slide(data-delay='7')
        .overlay
        img(src='themes/basic/masterslider/blank.gif', data-src='themes/basic/img/hero/slideshow/kitesurfing-fone-wave-perth.jpg', alt='Crescent')
        h2.dark-color.ms-layer(style='width: 456px; left: 110px; top: 110px;', data-effect='left(50,true)', data-duration='700', data-delay='250', data-ease='easeOutQuad') Crescent
        p.dark-color.ms-layer(style='width: 456px; left: 110px; top: 210px;', data-effect='left(50,true)', data-duration='700', data-delay='500', data-ease='easeOutQuad')
          | In this slider (which works both on touch screen and desktop devices) you can change the title, the description and button texts. It's all that you need to demonstrate your top rated products.
        .ms-layer.button(style='left: 110px; top: 330px;', data-effect='left(50,true)', data-duration='500', data-delay='750', data-ease='easeOutQuad')
          a.btn.btn-black(href='#') Go to catalog
        .ms-layer.button(style='left: 350px; top: 330px;', data-effect='bottom(50,true)', data-duration='700', data-delay='950', data-ease='easeOutQuad')
          a.btn.btn-primary(href='#') Browse all
  // Hero Slider Close
  // Catalog Grid
  section.catalog-grid
    .container
      h2.dark-color Catalog picks
      .row
        // Tile
        .col-lg-3.col-md-4.col-sm-6
          .tile
            .badges
              span.sale Sale
            .price-label 715,00 $
            a(href='#')
              img(src='themes/basic/img/catalog/1.png', alt='1')
              span.tile-overlay
            .footer
              a(href='#') Smart Backpack
              span by David Banks
              button.btn.btn-primary Add to Cart
      .row
        each product in products
          include templates/products-home-catalogpick-tpl
  // Catalog Grid Close
