extends layout

block content
  // Breadcrumbs
  ol.breadcrumb
    li
      a(href='index.html') Home
    li Shop - filters left 3 cols
  // Breadcrumbs Close
  // Catalog Grid
  section.catalog-grid
    .container
      h2.with-sorting Filters left 3 columns
      .sorting
        a(href='#') Sort by name
        a(href='#') Sort by price
      .row
        // Filters
        .filters-mobile.col-lg-3.col-md-3.col-sm-4
          .shop-filters
            // Price Section
            section.filter-section
              h3 Filter by price
              form(method='get', name='price-filters')
                span#clearPrice.clear Clear price
                .price-btns
                  button.btn.btn-black.btn-sm(value='below 50$') below 50$
                  br
                  button.btn.btn-black.btn-sm.disabled(value='50$-100$') from 50$ to 100$
                  br
                  button.btn.btn-black.btn-sm(value='100$-300$') from 100$ to 300$
                  br
                  button.btn.btn-black.btn-sm(value='300$-1000$') from 300$ to 1000$
                .price-slider
                  #price-range
                  .values.group
                    // data-min-val represent minimal price and data-max-val maximum price respectively in pricing slider range; value="" - default values
                    input#minVal.form-control(name='minVal', type='text', data-min-val='10', value='180')
                    span.labels $ -
                    input#maxVal.form-control(name='maxVal', type='text', data-max-val='2500', value='1400')
                    span.labels $
                  input.btn.btn-primary.btn-sm(type='submit', value='Filter')
            // Colors Section
            section.filter-section
              h3 Filter by color
              span.clear.clearChecks Clear colors
              label
                input#color_0(type='checkbox', name='colors', value='black', checked='')
                |                     Black (12)
              br
              label
                input#color_1(type='checkbox', name='colors', value='white')
                |                     White (1)
              br
              label
                input#color_2(type='checkbox', name='colors', value='green')
                |                     Green  (34)
              br
              label
                input#color_3(type='checkbox', name='colors', value='blue')
                |                     Blue (23)
              br
              label
                input#color_4(type='checkbox', name='colors', value='red')
                |                     Red (12)
            // Colors Section
            section.filter-section
              h3 Filter by size
              span.clear.clearChecks Clear size
              label
                input#size_0(type='checkbox', name='sizes', value='small', checked='')
                |                     Small (12)
              br
              label
                input#size_1(type='checkbox', name='sizes', value='white')
                |                     Medium (34)
              br
              label
                input#size_2(type='checkbox', name='sizes', value='green')
                |                     Large (11)
              br
              label
                input#size_3(type='checkbox', name='sizes', value='blue')
                |                     Extra large (1)
              br
              label
                input#size_4(type='checkbox', name='sizes', value='red')
                |                     Superman (0)
            // Categories Section
            section.filter-section
              h3 Categories
              ul.categories
                li.has-subcategory
                  a(href='#') Backpacks (123)
                  // Class "has-subcategory" for dropdown propper work
                  ul.subcategory
                    li
                      a(href='#') Backpacks (1)
                    li
                      a(href='#') Shoulder Bag (45)
                    li
                      a(href='#') Handbag (34)
                    li
                      a(href='#') Something (12)
                    li
                      a(href='#') Wallet (23)
                li
                  a(href='#') Belts (34)
                li
                  a(href='#') Gloves (78)
                li.has-subcategory
                  a(href='#') Something (45)
                  ul.subcategory
                    li
                      a(href='#') Subcategory (1)
                    li
                      a(href='#') Subcategory (45)
                    li
                      a(href='#') Subcategory (23)
                li
                  a(href='#') Hat bag (23)
        // Tiles
        .col-lg-9.col-md-9.col-sm-8
          .row
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .badges
                  span.sale Sale
                .price-label 715,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .badges
                  span.sale Sale
                .price-label 715,00 $
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .badges
                  span.best-seller Best Seller
                .price-label 715,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                .price-label.old-price 920,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                .price-label.old-price 920,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                .price-label.old-price 920,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
            // Tile
            .col-lg-4.col-md-6.col-sm-12
              .tile
                .price-label 715,00 $
                .price-label.old-price 920,00 $
                a(href='#')
                  img(src='/themes/basic/img/catalog/1.png', alt='1')
                  span.tile-overlay
                .footer
                  a(href='#') The Buccaneer
                  span by Pirate3d
                  button.btn.btn-primary Add to Cart
          // Pagination
          ul.pagination
            li.prev-page
              a.icon-arrow-left(href='#')
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li.next-page
              a.icon-arrow-right(href='#')
  // Catalog Grid Close
  // Brands Carousel Widget
  section.brand-carousel
    .container
      h2 Brands in our shop
      .inner
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
        a.item(href='#')
          img(src='/themes/basic/img/brands/1.png', alt='1')
  // Brands Carousel Close
