extends layout

block content
  // Breadcrumbs
  ol.breadcrumb
    li
      a(href='index.html') Home
    li
      a(href='/category/kitesurfing') Kitesurfing
    li
      a(href='/category/kitesurfing/Packages') Packages
  // Breadcrumbs Close
  // Catalog Grid
  section.catalog-grid
    .container
      h2.with-sorting Kitesurfing Packages
      .sorting
        a(href='#') Sort by name
        a(href='#') Sort by price
      .row
        // Filters
        .filters-mobile.col-lg-3.col-md-3.col-sm-4
          .shop-filters
            // Price Section
            section.filter-section
              h3 Filter by price
              form(method='get', name='price-filters')
                .price-slider
                  #price-range
                  .values.group
                    // data-min-val represent minimal price and data-max-val maximum price respectively in pricing slider range; value="" - default values
                    input#minVal.form-control(name='minVal', type='text', data-min-val='10', value='180')
                    span.labels $ -
                    input#maxVal.form-control(name='maxVal', type='text', data-max-val='2500', value='1400')
                    span.labels $
                  input.btn.btn-primary.btn-sm(type='submit', value='Filter')
            
            section.filter-section
              h3 Categories
              ul.categories
                li
                  a(href='#') Packages (1)
                li
                  a(href='#') Kites (45)
                li
                  a(href='#') Kites Boards (34)
                li
                  a(href='#') Surfkites (12)
                li
                    a(href='#') Kites Harnesses (23)
                li
                    a(href='#') Accessories (23)
        // Tiles
        .col-lg-9.col-md-9.col-sm-8
          .row
            if products.length
              each product in products
                include templates/products-home-catalogpick-tpl
          // Pagination
          ul.pagination
            li.prev-page
              a.icon-arrow-left(href='#')
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li.next-page
              a.icon-arrow-right(href='#')
  // Catalog Grid Close
