extends layout

block content
  .about
    // Team
    section.team.container.space-top
      h3 Meet our team
      .row
        // Member
        .col-lg-3.col-md-3.col-sm-6
          .member
            .mask
              img(src='/themes/basic/img/about/team/1.png', alt='1')
            h4 Jonathan Doe
            h5 CEO, Founder
            .social
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-facebook-square
              a(href='#')
                i.fa.fa-pinterest-square
              a(href='mailto:mail@mail.com')
                i.fa.fa-envelope
        // Member
        .col-lg-3.col-md-3.col-sm-6
          .member
            .mask
              img(src='/themes/basic/img/about/team/1.png', alt='1')
            h4 Jonathan Doe
            h5 CEO, Founder
            .social
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-facebook-square
              a(href='#')
                i.fa.fa-pinterest-square
              a(href='mailto:mail@mail.com')
                i.fa.fa-envelope
        // Member
        .col-lg-3.col-md-3.col-sm-6
          .member
            .mask
              img(src='/themes/basic/img/about/team/1.png', alt='1')
            h4 Jonathan Doe
            h5 CEO, Founder
            .social
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-facebook-square
              a(href='#')
                i.fa.fa-pinterest-square
              a(href='mailto:mail@mail.com')
                i.fa.fa-envelope
        // Member
        .col-lg-3.col-md-3.col-sm-6
          .member
            .mask
              img(src='/themes/basic/img/about/team/1.png', alt='1')
            h4 Jonathan Doe
            h5 CEO, Founder
            .social
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-facebook-square
              a(href='#')
                i.fa.fa-pinterest-square
              a(href='mailto:mail@mail.com')
                i.fa.fa-envelope
    // Team Close
    // About Info
    section.space-top.space-bottom.container
      h2 About us
      .row
        .col-lg-5.col-md-6.col-sm-6
          h3 Why we are cool
          p.p-style3
            | Limo is the product which was born thanks to the involvement not only of the UI experts but also great marketers who have tremendous experience in outstanding implementations of e-commerce projects from different domains.
        .col-lg-6.col-lg-offset-1.col-md-6.col-sm-6
          p.p-style3
            | Limo Theme is quite universal and covers a lot of use cases for either big e-commerce website or smaller ones. Due to 5 different landing pages you can easily guide a client whether directly to a specific product or to a category page. The Product Showcase Home page is a full featured landing page for effective product or service promotion.
    // About Info Close

