extend ../layout
block content
	.main
		.container
			ul.breadcrumb
				li
					a(href='/') Home
				li.active Sign Up
			//- BEGIN SIDEBAR & CONTENT
			.row.margin-bottom-40
				//- BEGIN SIDEBAR
				.sidebar.col-md-3.col-sm-3
					ul.list-group.margin-bottom-25.sidebar-menu
						li.list-group-item.clearfix
							a(href='/login')
								i.fa.fa-angle-right
								| Login/Register
						li.list-group-item.clearfix
							a(href='/myaccount')
								i.fa.fa-angle-right
								| My account
				block subcontent