doctype html
html(lang="en")
  head
    title Admin #{title}
    link(href="/css/admin/admin.min.css", rel="stylesheet")
  body.login
    block content

    script(type='text/javascript', src='/js/libs/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/js/custom/helper-forms.js')

    block script