h3 Hello #{customer.name.first}
link = shop.url + ".myshop.com:3000/account/reset-password/" + customer.forgot_password
p You ask to reset the password of your #{shop.name} account. Follow this 
	a(href=link)  link
	| for reset it.
	br
	| or
	br
	=link
p The link is available for 12hours.
p Si vous n'avez pas demandé la résiliation de votre mote de passe, ignorer cet email.