h3 Bonjour #{user.name.first}
p L'enregistrement de votre magasinshopname est bien reussi. Pour valider votre enregistrement veuillez suivre 
|	le a(href=(http://myshop.com:3000/validation/#{user.validation_code}-#{shop.validation_code}/)) lien de validation