extend layout
block subcontent
	h1 Forgot Password
	.content-form-page
		.row
			.col-md-7.col-sm-7
				form.form-horizontal.form-without-legend(action="/account/forgot-password", method="post", role='form')
					if err
						p #{err}
					if message
						p #{message}
					.form-group
						label.col-lg-4.control-label(for='email')
							| Email
							span.require *
						.col-lg-8
							input#email.form-control(type='text', name='email')
					.row
						.col-lg-8.col-md-offset-4.padding-left-0.padding-top-20
							button.btn.btn-primary(type='submit') Ask to reset password
