extend layout
block subcontent
	h1 Reset Password
	.content-form-page
		.row
			.col-md-7.col-sm-7
				form.form-horizontal.form-without-legend(method="post", role='form')
					if err
						p #{err}
					if message
						p #{message}
					.form-group
						label.col-lg-4.control-label(for='password')
							| Password
							span.require *
						.col-lg-8
							input.form-control(type='password', name='password')
					.form-group
						label.col-lg-4.control-label(for='passwordrepeat')
							| Repeat Password
							span.require *
						.col-lg-8
							input.form-control(type='password', name='passwordrepeat')
					.row
						.col-lg-8.col-md-offset-4.padding-left-0.padding-top-20
							button.btn.btn-primary(type='submit') Reset password
