.bold {
	font-weight: bold;
}

.align-right {
	text-align: right!important;
}
.align-center {
	text-align: center!important;
}

.small {
	font-size: 10px;
}

.success {
	color: #339933;
}

.error {
	color: #c60f13;
}

.no-pr {
	padding-right: 0;
}
.no-pl {
	padding-left: 0;
}