form, .form, table {
	input {
		font-size: 13px!important;
		display: inline;		
	}

	button.small {
		height: 30px;
	}

	textarea.input-field {
		height: 30px;
	}


	[data-type*="input"] {
		&:hover {
			cursor:pointer;
		}
	}
	.true-input, [data-type*="input"] {
		.fa {
			margin-left: 10px;
			&:hover {
				cursor:pointer;
			}
		}
	}
	
	p.true-input {
		height: 22px;
	}

	button.fa-floppy-o {
		margin-top: -10px;
	}
	button.fa-no-margin {
		margin-top: 0!important;
	}

	.input-example {
		font-style:italic
	}

	span.success {
		padding: 0.375rem 0.5625rem 0.5625rem;
		margin-top: -1px;
		margin-bottom: 1rem;
		font-size: 0.75rem;
		font-weight: normal;
		font-style: italic;
		background: #339933;
		color: white;
	}

	span.progress {
		padding: 0.375rem 0.5625rem 0.5625rem;
		margin-top: -1px;
		margin-bottom: 1rem;
		font-size: 0.75rem;
		font-weight: normal;
		font-style: italic;
		background: #c3c3c3;
		color: white;
	}
	span.response-message {
		&.progress, &.success, &.error {
			display: block!important;
		}
	}
}